.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.friend-card {
  background-color: #f0f0f0;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.friend-avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 20px;
}

.friend-info {
  flex: 1;
}

.friend-info h2 {
  margin: 0;
  font-size: 1.2rem;
  color: #333;
}

.friend-info p {
  margin: 5px 0;
}

.friend-info strong {
  font-weight: bold;
}

.friend-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Adjust the minimum and maximum size */
  grid-gap: 20px; /* Adjust the gap between cards */
}

.friend-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.friend-avatar {
  width: 100px; /* Adjust the size of the avatar */
  height: 100px; /* Adjust the size of the avatar */
  border-radius: 50%;
  margin-bottom: 10px;
}

.friend-info {
  text-align: center;
}

.pagination {
  margin-top: 20px;
  list-style-type: none;
  display: flex;
  justify-content: center;
}

.pagination li {
  margin: 0 5px;
}

.pagination button {
  cursor: pointer;
  padding: 5px 10px;
  border: none;
  background-color: #f9f9f9;
  color: #333;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.pagination button:hover {
  background-color: #ddd;
}

.pagination button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

